.container {
    color: white;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height:100dvh
}
.colorType{
    background-color: aliceblue;
    color: black;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

/* cool green color #4ae93a */